.horizontalBlock {
    background: #313637;
    color: white;
    border: 2px solid #FDB056;
    border-radius: 34px;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-weight: 600;
    max-width: 748px;
    max-height: 190px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.horizontalBlock.discountEnd {
    border-radius: 34px;
    border: 2px solid #FDB056;
    animation: blockTransition 0.5s ease-in-out;
}

.horizontalBlock.selected {
    border: 1px solid #FF4444;
    box-shadow: 0 0 0 1px #FF4444;

}

.horizontalBlock:hover {
    transform: translateY(-2px);
}

.blockOur {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blockOne {
    display: flex;
    gap: 10px;
    align-items: center;
}

.duration {
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 26px;
    align-items: start;
}

.descriptionSection {
    flex: 1;
}

.description {
    color: #D1D5DB;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-left: 40px;
}

.priceMain {
    color: #FDB056;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 50px;
    transition: all 0.5s ease-in-out;
}

.priceMain.noDiscount {
    animation: priceChange 0.8s ease-in-out;
    color: #FFFFFF !important;
}

.blockProcent {
    display: flex;
    background: red;
    max-width: 66px;
    margin-left: 50px;
    height: 39px;
    opacity: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    gap: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}

.blockProcent.hide {
    animation: discountHide 0.8s ease-in-out forwards;
}

.blockPrice {
    margin-left: 122px;
}

.blockHIT {
    color: #FDB056;
    z-index: 1;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 22px;
    margin-left: 550px;
}

.horizontalBlock.discountEnd .blockOur {
    height: 190px;
    border-radius: 34px;

}

.priceOld {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-montserrat);
    color: #919191;
    text-align: right;
    text-decoration: line-through;
}

.priceOld.hide {
    animation: priceOldHide 0.6s ease-in-out forwards;
}


.verticalBlock {
    background: #313637;
    border: #FDB056;
    width: 240px;
    height: 335px;
    color: white;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 40px;
    border: 2px solid #484D4E;
    opacity: 1;
    border-width: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.verticalBlock.selected {
    border: green;
    box-shadow: 0 0 0 1px green;
}

.verticalBlock.discountEnd {
    border-color: #484D4E;
    animation: blockTransition 0.5s ease-in-out;
}

.verticalBlock:hover {
    transform: translateY(-2px);
}

.blockProcentTwo {
    display: flex;
    background: red;
    z-index: 1;
    width: 66px;
    margin-left: 50px;
    height: 39px;
    opacity: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    gap: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 22px;
    transition: all 0.5s ease-in-out;
}

.blockProcentTwo.hide {
    animation: discountHide 0.8s ease-in-out forwards;
}

.priceMainTwo {
    color: #FFFFFF;
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 50px;
    width: 200px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.priceMainTwo.noDiscount {
    animation: priceChange 0.8s ease-in-out;
    color: #FFFFFF !important;
}

.blockMounth {
    color: #FFFFFF;
    width: 200px;
    height: 31;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 26px;
    gap: 8px;
    text-align: center;
    margin-bottom: 30px;
}

.priceOldTwo {
    font-size: 24px;
    font-weight: 500;
    color: #9CA3AF;
    text-decoration: line-through;
    text-align: right;
    width: 180px;
    transition: all 0.5s ease-in-out;
}

.priceOldTwo.hide {
    animation: priceOldHide 0.6s ease-in-out forwards;
}

.blockPriceTwo {
    height: 168px;
    width: 140px;
}

.descriptionTwo {
    text-align: left;
}

.blockBig {
    margin: 31px 18px 23px 18px;
}


@media (max-width: 375px) {
    .horizontalBlock {
        background: #313637;
        width: 343px;
        height: 131px;
        border-radius: 20px;
        margin-left: 16px;
        margin-bottom: -12px;
        border: 2px solid #FDB056;
    }

    .blockHIT {
        color: #FDB056;
        font-weight: 500;
        font-size: 16px;
        margin-left: 0px;
    }

    .blockProcent {
        display: flex;
        background: #FD5656;
        width: 48px;
        margin-left: 233px;
        height: 27px;
        padding-top: 3px;
        padding-right: 6px;
        padding-bottom: 3px;
        padding-left: 6px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 16px;
    }

    .blockPrice {
        margin-left: 30px;
    }

    .blockOur {
        display: flex;
        align-items: start;
        width: 343px;
        height: 104px;
    }

    .blockOne {
        display: flex;
        padding: 0;
        margin: 0
    }

    .duration {
        font-size: 18px;
        text-align: left;
        margin-top: -10px;
    }

    .descriptionSection {
        flex: 1;
    }

    .description {
        color: white;
        font-family: var(--font-montserrat);
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin-left: 30px;
    }

    .priceMain {
        font-size: 34px;
        margin-top: 10px;
    }

    .horizontalBlock.discountEnd .blockOur {
        margin-top: 30px;
        border: 0px solid #313637;
        border-radius: 20px;
        height: 131px;

    }

    .horizontalBlock.discountEnd {
        border-radius: 20px;
        border: 2px solid #FDB056;

    }

    .priceOld {
        font-size: 16px;
    }

    .horizontalBlock.selected {
        border: 1px solid #FF4444;
        box-shadow: 0 0 0 1px #FF4444;

    }
}

@media (max-width: 320px) {
    .horizontalBlock {
        background: #313637;
        width: 288px;
        height: 118px;
        border-radius: 20px;
        margin-left: 16px;
        margin-bottom: -12px;
        border: 2px solid #FDB056;
    }

    .blockHIT {
        color: #FDB056;
        font-weight: 500;
        font-size: 13px;
        margin-left: 0px;
    }

    .blockProcent {
        display: flex;
        background: #FD5656;
        width: 42px;
        margin-left: 196px;
        height: 23px;
        padding-top: 3px;
        padding-right: 6px;
        padding-bottom: 3px;
        padding-left: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        font-size: 13px;
    }

    .blockPrice {
        margin-left: 30px;
    }

    .blockOur {
        display: flex;
        align-items: start;
        width: 343px;
        height: 104px;
    }

    .blockOne {
        display: flex;
        padding: 0;
        margin: 0
    }

    .duration {
        font-size: 16px;
        text-align: left;
        margin-top: -10px;
    }

    .descriptionSection {
        flex: 1;
    }

    .description {
        color: white;
        font-family: var(--font-montserrat);
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin-left: 15px;
        width: 120px
    }

    .priceMain {
        font-size: 30px;
        margin-top: 10px;
    }

    .horizontalBlock.discountEnd .blockOur {
        margin-top: 20px;
        border: 0px solid #313637;
        border-radius: 20px;
        height: 131px;
    }

    .priceOld {
        font-size: 14px;
    }

    .horizontalBlock.discountEnd {
        border-radius: 20px;
        border: 2px solid #FDB056;

    }

    .horizontalBlock.selected {
        border: 1px solid #FF4444;
        box-shadow: 0 0 0 1px #FF4444;

    }
}


@media (max-width: 375px) {
    .verticalBlock {
        width: 343px !important;
        height: 131px !important;
        border-radius: 20px;
        flex: none;
        margin: 0;
    }

    .blockProcentTwo {
        width: 51px;
        margin-left: 262px;
        height: 27px;
        font-size: 16px;
    }

    .blockMounth {
        width: 85px;
        height: 22;
        font-size: 18px;
        margin: 0;
        margin-top: -5px;
    }

    .priceMainTwo {
        font-size: 34px;
        width: 101px;
        height: 34px;
        margin-top: 10px;
    }

    .priceOldTwo {
        font-size: 16px;
        width: 101px;
        height: 19px;
        margin-top: 5px;
    }

    .blockPriceTwo {
        height: 91px;
        width: 121px;
        margin: 0;
    }

    .blockBig {
        display: flex;
        margin: 0px 31px 20px 30px;
    }

    .descriptionTwo {
        font-size: 14px;
        margin-left: 60px;
        display: flex;
        align-items: center;
        margin-top: -15px;
    }

    .verticalBlock.discountEnd .blockBig {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .verticalBlock.discountEnd .priceMainTwo {
        width: 130px;
    }
}

@media (max-width: 320px) {
    .verticalBlock {
        width: 288px !important;
        height: 118px !important;
        border-radius: 20px;
        flex: none;
        margin-left: -55px;
    }

    .blockProcentTwo {
        width: 43px;
        margin-left: 223px;
        height: 23px;
        font-size: 13px;
    }

    .blockMounth {
        width: 76px;
        height: 19px;
        font-size: 16px;
        margin: 0;
        margin-top: -5px;
    }

    .priceMainTwo {
        font-size: 30px;
        width: 101px;
        height: 30px;
        margin-top: 10px;
    }

    .priceOldTwo {
        font-size: 14px;
        width: 90px;
        height: 17px;
        margin-top: 5px;
        justify-content: end;
    }

    .blockPriceTwo {
        height: 91px;
        width: 121px;
        margin: 0;
    }

    .blockBig {
        display: flex;
        margin: 0px 0px 20px 20px;
    }

    .descriptionTwo {
        font-size: 14px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        margin-top: 15px;
        width: 110px;
        height: 54px;
    }

    .verticalBlock.discountEnd .blockBig {
        margin-bottom: 0px;
    }

    .verticalBlock.discountEnd .priceMainTwo {
        width: 130px;
    }
}


@keyframes discountHide {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
        height: 0;
        margin: 0;
        padding: 0;
        display: none;
    }
}

@keyframes priceOldHide {
    0% {
        opacity: 1;
        height: auto;
    }

    100% {
        opacity: 0;
        height: 0;
        margin: 0;
        display: none;
    }
}

@keyframes priceChange {
    0% {
        color: #FDB056;
        transform: scale(1);
    }

    50% {
        color: #FFA726;
        transform: scale(1.15);
    }

    100% {
        color: #FFFFFF;
        transform: scale(1);
    }
}

@keyframes blockTransition {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}